header {
    display: flex;
    background-color: rgb(19, 39, 98);
    justify-content: space-evenly;
}

header > p {
    align-self: center;
}

header > p > a {
    text-decoration: none;
    color: white;
}
